extends layout

block content
  .ui.grid
    .one.wide.column
    .fourteen.wide.column
      .ui.raised.segment
        .ui.grid
          .three.wide.column
          .ten.wide.column
            br
            br 
            block inside
            br
            br 
