extends layout

block content
  .ui.grid
    .one.wide.column
    .fourteen.wide.column
      .ui.raised.segment
        .ui.grid
          .two.wide.column
          .twelve.wide.column
            br
            br 
            h3 Đăng ký học
            hr
            br
            .ui.red.basic.label Lưu ý:
            br
            br
            p
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | 1. Bạn được phép học thử một buổi, bạn nên tham gia học thử vì sẽ được mình giới thiệu trực quan hơn về phương pháp, hơn nữa là buổi đó sẽ miễn phí nếu bạn không quyết định học sau buổi đó, còn nếu bạn quyết định học thì buổi đó tính là buổi một.
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | 2. Bạn phải làm bài test đầu vào trước, nếu đủ điều kiện thì mới được tham gia khóa học.
              br
              | Hướng dẫn cách làm bài test đầu vào 
              a(href='#{endpoint}test-dau-vao/') ở đây.
            br
            .ui.green.basic.label Đăng ký học:
            br
            br
            p
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | Bạn nào muốn học có thể nhắn tin đến số 0988 928 863 với nội dung:
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | Họ và tên:
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | Đăng ký học giao tiếp tiếng Anh khoá Tx (Với x là số thứ tự của khóa học)
            br
            .ui.green.basic.label Nội dung khóa học:
            br
            br
            br
            br
            .ui.grid.center.aligned
              .center.aligned.row
                h4.four.wide.center.aligned.column Level
                h4.eight.wide.center.aligned.column Nội dung
                h4.four.wide.center.aligned.column Học phí
              .left.aligned.row
                .four.wide.left.aligned.column
                  p
                    | 1. Tập trung vào việc thành thạo các âm của tiếng Anh.
                    | Hình thành phản xạ giao tiếp ban đầu.
                    br
                    | Số buổi: 16.
                .eight.wide.left.aligned.column
                  p.
                    Nếu bạn kb tiếng Anh có bao nhiêu âm, cách đọc như thế nào thì khó có thể 
                    giao tiếp thành thạo được. Ngoài ra còn tạo phản xạ nói tiếng Anh thông qua
                    thực hành giao tiếp.
                .four.wide.left.aligned.column
                  p.
                    Học phí: 2.400.000 VND, tuần 2 buổi, mỗi buổi 1h30’. Học phí đóng vào đầu buổi số 2.
              .left.aligned.row
                .four.wide.left.aligned.column
                  p
                    | 2. Tập trung vào việc nói thành thạo cả câu, luyện nghe, nâng từ vựng qua phim và học cách đọc tài liệu chuyên ngành.
                    br
                    |Số buổi: 10.
                .eight.wide.left.aligned.column
                  p
                    | Hết Level 1 thì bạn đã rèn luyện được cho mình khả năng phát âm tương đối tốt và phản xạ giao tiếp ở mức cơ bản
                    | Ở level này, bạn sẽ được:
                    br
                    | ✓ Học các quy tắc để có thể nói được cả câu.
                    br
                    | ✓ Hỗ trợ học tiếng anh qua phim.
                    br
                    | ✓ Học những quy tắc ngữ pháp ảnh hưởng đến việc giao tiếp.
                    br
                    | ✓ Hướng dẫn và thực hành đọc tài liệu chuyên ngành.
                .four.wide.left.aligned.column
                  p.
                    Học phí: 1.500.000 VND, tuần 2 buổi, mỗi buổi 1h30’. Học phí đóng vào đầu buổi số 1.
            br
            br 
