extends cach-hoc-layout

block inside
  h3 Cách học từ vựng
  hr
  br
  br
  br
  p.
    Với những bạn có từ vựng yếu (làm bài test đầu vào đạt mức dưới 70%) thì làm theo hướng dẫn ở đây để nâng từ vựng.
  br
  p.
    Có hai cách học từ vựng chính mà mình thấy hiệu quả nhất, ngoài ra các bạn có thể 
    thử thêm cách khác, nên nhớ rằng không có cách học tiếng Anh nào là hiệu quả nhất 
    cho tất cả mọi người, nên nếu thấy cách học nào làm bạn hứng thú thì cứ nên tiếp 
    tục làm theo, dưới đây là gợi ý của mình:
  br
  p
    | 1. Phần mềm 
    a(href="https://www.memrise.com/") Memrise:
  br
  p.
    Đây là phần mềm học tiếng Anh mà theo đánh giá của mình là hay nhất cho những người
    từ vựng còn kém, bạn có thể học phiên bản trên web, hoặc tải app về điện thoại để tranh 
    thủ học những lúc rảnh (free).
  br
  p.
    Chú ý là memrise có rất nhiều khóa học, nên nếu không biết chọn thì bạn sẽ bị choáng đấy.
  br
  p.
    Bạn nên cài đặt để hiển thị ngôn ngữ mình nói là tiếng Việt, sau đó vào danh sách khóa 
    học cho người Việt và chọn khóa từ vựng cơ bản (1500 từ) sau đó học hàng ngày.
  br
  p.
    2. Đọc truyện
  br
  p
    | Cách bạn có thể 
    a(href="#{endpoint}truyen/") vào đây
    |  để lấy truyện đọc, đây là bộ truyện mà mình đánh giá là đầy đủ nhất, đã sắp xếp level 
    | từ thấp đến cao, có cả level từ 0-1 cho người mới bắt đầu luôn.
  br
  p.
    Nâng từ vựng qua đọc truyện là cách học rất hiệu quả, bạn không chỉ biết thêm từ, mà quan 
    trọng hơn là bạn còn học được cách dùng từ trong câu như thế nào, giúp bạn nâng thêm phản 
    xạ tiếng Anh của bản thân nữa.
  br
  p
    | Các bạn có thể tham khảo lý do tại sao phải nâng phản xạ tiếng Anh 
    a(href='#{endpoint}luyen-tap-phan-xa') tại đây:
  br
  p.
    Kiên trì kết hợp hai cách nâng từ vựng ở trên, sau 2-3 tháng bạn sẽ thấy lượng từ vựng 
    của mình được cải thiện một cách đáng kể, và khi bạn đi học thêm tiếng Anh sẽ thấy hiệu 
    quả hơn rất nhiều là đi học với số lượng từ vựng gần như bằng 0.
  br
  p.
    Chúc các bạn thành công.
