extends cach-hoc-layout

block inside
  h3 Học phát âm thế nào
  hr
  br
  br
  br
  p.
    Người Việt muốn nói tiếng Anh tốt không thể không học phát âm, hơn nữa việc đầu tư học phát âm chỉ có lợi chứ không có hại, dành 2-3 tháng học phát âm sẽ tiết kiệm cho bạn cả một núi thời gian sau này khi học nghe, nói … nên mình khuyến khích các bạn nên học cách phát âm trước tất cả những cái khác, học phát âm cũng không yêu cầu từ vựng, ngữ pháp hay phản xạ nên cũng sẽ dễ hơn nhiều cho các bạn bắt đầu.
  br
  p.
    Vậy học phát âm như thế nào:
  br
  p. 
    Phát âm thì có phát âm từ và phát âm câu, mình sẽ đi vào từng phần trước.
  br
  p.
    1. Phát âm từ:
  br
  p.
    – Muốn đọc và nghe được từ, phải biết cách phát âm của từ ấy trước, các bạn để ý khi gõ vào từ điển (nên dùng Oxford Advanced Learner Dictionary), bên dưới từ sẽ là cách phát âm của từ đó, bạn cần phải biết từng ký hiệu nhỏ ở trong phần phát âm ấy đọc như thế nào, khẩu hình miệng ra làm sau, thì mới đọc được, đọc được thì nghe chỉ là chuyện cỏn con, nó có khoảng trên dưới 40 ký hiệu nhỏ như thế, bạn có thể gõ từng ký hiệu ra trên youtube và tìm video để học, hoặc có thể học thầy. Mục tiêu là đọc đúng và đọc chuẩn được 40 âm ấy, thì mới đọc được từ.
  br
  p.
    Các bạn có thể học theo bộ video này:
  br
  .ui.embed(data-source="youtube", data-id="Yh-afJvILxY?list=PLos0wxZzgmGT9lXnOdE0FcqXfAgBAASqw")
  br
  p.
    Hoặc bộ video của cô Rachel, ngắn gọn hơn nhưng vẫn đủ, với video của cô thì bạn nên làm theo cách là tra từ trong từ điển trước, thấy ký hiệu phát âm nào mà mình chưa biết cách đọc thì copy rồi paste lên youtube, thêm vào rachel’s english đằng sau âm ấy rồi học theo:
  br
  p
    a(href="https://www.youtube.com/user/rachelsenglish") Rachel English
  br
  p.
    – Bên cạnh đó là đánh trọng âm, tiếng Việt là âm đơn (bạn cứ để ý sẽ thấy) còn tiếng Anh là âm phức (ví dụ như busy, confident …), nên đánh trọng âm đúng thì người ta mới nghe được), cũng trong từ điển khi bạn tra từ, để ý chỗ nào có dấu sắc nhỏ nhỏ đánh trên đầu trước từ nào thì bạn đánh trọng âm và lên giọng ở từ theo sau đó). Đánh trọng âm thì bạn cứ nghe phát âm từ rồi để ý kỹ xem cách lên xuống giọng thế nào và bắt chước theo, cái này  quan trọng nhưng không khó để học được, chỉ cần chịu khó để ý và luyện tập hằng ngày là sẽ tốt rất lên.
  br
  p.
    2. Phát âm câu:
  br
  p.
    – Muốn đọc và nghe được câu, thì phải biết quy tắc nối âm, bỏ âm, rồi chuyển âm thông thường đã học ở trên thành âm đặc biệt khi nói, nhấn mạnh … Các bạn có thể tham khảo 2 cuốn American Accent Trainning hoặc cuốn Mastering the American Accent, nó viết rất đầy đủ, cứ lọc ra những quy tắc phát âm dành cho người Việt rồi học theo, ngoài ra thì nên xem phim rồi chú ý nghe và bắt chước theo.
  br
  p.
    – Trọng âm câu: Trong câu cũng có trọng âm, là những điều bạn muốn nhấn, cái này thì cứ xem phim r cố gắng bắt chước theo, kết hợp với các quy tắc đọc trong câu thì sẽ tốt lên, và nghe sẽ rất tự nhiên chứ không bị gò ép.
  br
  p.
    Nếu như thấy khó quá thì có thể liên hệ với mình, mình nhận gia sư (lớp chỉ có 2-4 người), và đảm bảo chuẩn hết các âm và các câu cho bạn.
