extends layout

block content
  // Page Contents
  link(rel='stylesheet', type="text/css" href='/css/background.css')
  br
  br
  br
  br
  br
  br
  .ui.grid.container
    .row
      .two.wide.column
      .seven.wide.column
        .ui.grid
          .row
            .ui.header
              .ui.labeled.button
                .ui.green.button
                  i.checkmark.box.icon
                button.ui.blue.left.pointing.label Lớp học với tối đa 4 học viên/lớp
          .row
            .ui.labeled.button
              .ui.green.button
                i.checkmark.box.icon
              button.ui.blue.left.pointing.label 
                | Thực hành giao tiếp và được sửa
                br
                | trực tiếp bởi giáo viên
          .row
            .ui.labeled.button
              .ui.green.button
                i.checkmark.box.icon
              button.ui.blue.left.pointing.label 
                | Giáo viên với kinh nghiệm 4 năm
                br
                | dạy tiếng anh giao tiếp
          .row
            .ui.labeled.button
              .ui.green.button
                i.checkmark.box.icon
              button.ui.blue.left.pointing.label 
                | Hỗ trợ nâng cao kiến thức back-
                br
                | ground thông qua từng buổi học
      .four.wide.column
        br
        br
        br
        .ui.grid
          .row
            .green.colum
              button.huge.green.ui.button 
                a(href='#{endpoint}dang-ky-hoc/')
                  | Đăng ký học thử &
                  br
                  | Xem mức học phí
