extends layout

block content
  .container
    .row
      .col-md-12
        .jumbotron.text-center
          h2 Type word & press Enter
          .col-md-8.col-md-offset-2.well
            .input-group.col-md-12
              input.form-control#s(type='text', placeholder="Search for...", autofocus)
    .row
      .col-md-12
        #resultsDiv
          #oald.col-lg-6
          #spinning.col-lg-3
          #vndic.col-lg-3
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous")
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/script.js')
