extends layout

block content
  .ui.vertical.stripe.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .eight.wide.center.aligned.column
          .ui.header
            .ui.labeled.button
              .ui.green.button
                i.checkmark.box.icon
              button.ui.blue.left.pointing.label 
                | Lớp học với tối đa 4 học viên/lớp
                br
                | Tăng cơ hội thực hành
        .eight.wide.center.aligned.column
          .ui.labeled.button
            .ui.green.button
              i.checkmark.box.icon
            button.ui.blue.left.pointing.label 
              | Thực hành giao tiếp và được sửa
              br
              | trực tiếp bởi giáo viên
      .row
        .eight.wide.center.aligned.column
          .ui.labeled.button
            .ui.green.button
              i.checkmark.box.icon
            button.ui.blue.left.pointing.label 
              | Giáo viên với kinh nghiệm 4 năm
              br
              | dạy tiếng anh giao tiếp
        .eight.wide.center.aligned.column
          .ui.labeled.button
            .ui.green.button
              i.checkmark.box.icon
            button.ui.blue.left.pointing.label 
              | Hỗ trợ nâng cao kiến thức back-
              br
              | ground thông qua từng buổi học
      .row
        .center.aligned.column
          a.ui.huge.red.button(href='#{endpoint}dang-ky-hoc/') 
            | Đăng ký học thử &
            br
            | Xem mức học phí
