doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')    
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/interface.css?version=1.5.30', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/responsive.css?version=1.5.30', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/oxford.css?version=1.5.30', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/jquery.lightbox-0.5.css?version=1.5.30', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/print.css?version=1.5.30', rel='stylesheet', type='text/css', media='print')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/autocomplete.css?version=1.5.30', rel='stylesheet', type='text/css')
    style.
      .tl {
        font-weight: bold;
        color: blue;
      }
  body
    block content
