doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='http://stc.laban.vn/dictionary/css/styles-1.11.min.css', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/interface.css?version=1.5.30', rel='stylesheet', type='text/css')
    link(href='http://www.oxfordlearnersdictionaries.com/external/styles/oxford.css?version=1.5.30', rel='stylesheet', type='text/css')
    style.
      .tl {
        font-weight: bold;
        color: blue;
      }
    
      #oald.fa {
          font-size: 100px;
          line-height: 100px;
          width: 100px;
          height: 100px;
          text-align: center;
          vertical-align: bottom;
      }
      
      body {
        padding-top: 20px;
      }
  body
    .container
      block content 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/script.js')
