extends layout

block content
  .ui.grid
    .one.wide.column
    .fourteen.wide.column
      .ui.raised.segment
        .ui.grid
          .two.wide.column
          .twelve.wide.column
            br
            br 
            h3 Liên hệ
            hr
            br
            p
              | Tiếng Anh giao tiếp thầy Tiến (chỉ có một thầy, thầy tên là Tiến):
              br
              | Sđt: 0988 928 863.
              br
              | Email: Tiendo1011@gmail.com.
              br
            h4
              | Địa chỉ: Nhà 5 tầng trong cùng bên tay trái ngách đối diện số nhà 34, ngõ 358 Bùi Xương Trạch, Thanh Xuân, Hà Nội (gần hồ Khương Đình).
            br
            h4 Bản đồ (click vào hình để xem vị trí trên Google Maps)
              br
              br
              a(href="https://www.google.com/maps/place/Ng%C3%B5+358+-+B%C3%B9i+X%C6%B0%C6%A1ng+Tr%E1%BA%A1ch,+Kh%C6%B0%C6%A1ng+%C4%90%C3%ACnh,+Thanh+Xu%C3%A2n,+H%C3%A0+N%E1%BB%99i,+Vietnam/@20.9825682,105.8172565,17.13z/data=!4m5!3m4!1s0x3135acf260f77735:0x33a9af50f7713a94!8m2!3d20.983825!4d105.8177054")
                .ui.image
                  img(src="/ban-do.png")
