extends cach-hoc-layout

block inside
  h3 Luyện tập phản xạ
  hr
  br
  br
  br
  p.
    Các bạn nên đọc nguyên tắc 3 về việc học phản xạ để có cái nhìn toàn cảnh về việc tại sao nên luyện phản xạ, sau đây là cách học:
  br
  p.
    Với những bạn gần như tiếng Anh là con số 0, thì các bạn nên bắt đầu với phương pháp và giáo trình của tiến sĩ Pimsleur, sau đó nâng lên học theo giáo trình Effortless English của thầy AJ Hoge, thông tin về cách học và tải tài liệu này trên mạng có rất nhiều, còn bạn nào thấy phức tạp quá thì email mình ở phần liên hệ để hẹn mình, mình sẽ copy và giải thích những phần mà các bạn không hiểu.
  br
  p. 
    1. Giáo trình của tiến sĩ Pimsleur:
  br
  p.
    Đây là giáo trình luyện phản xạ đơn giản nhất, những câu hỏi và câu trả lời khá đơn giản, đây là trích dẫn Unit 1 của bộ giáo trình này:
  br
  p.
    – Excuse me, miss. Do you understand Vietnamese?
  br
  p.
    – No, Sir. I don’t understand Vietnamese.
  br
  p.
    – I understand a little English.
  br
  p.
    – Are you Vietnamese?
  br
  p.
    – Yes, Miss.
  br
  p.
    Đều là những câu và từ đơn giản, sau đó sẽ có người hỏi các bạn, làm sao để hỏi bạn có hiểu tiếng Việt không? rồi bạn có phải người Việt không? Lặp đi lặp lại, cứ nghe một thời gian thì mình sẽ bắt đầu có phản xạ cho những câu này, nó sẽ ngấm dần, và khi giao tiếp mình sẽ hỏi được những câu đơn giản. Bộ giáo trình này có 30 bài luyện phản xạ kiểu này và 21 bài tập đọc, đều là những nội dung đơn giản nhất.
  br
  p.
    Nhưng trong giao tiếp, phần lớn là sẽ là một người kể một đoạn chuyện, rồi người kia nghe, sau đó lại kể một đoạn chuyện, cứ liên tục như thế, chứ không chỉ là những câu ngắn như thế này, và bạn cũng cần số lượng từ phức tạp hơn, bạn nào thấy bộ này dễ quá cũng có thể chuyển sang học luôn bộ tiếp theo: Effortless English.
  br
  p.
    2. Effortless English:
  br
  p.
    Bộ giáo trình này đồ sộ hơn nhiều so với bộ trên, cũng phức tạp hơn, hướng dẫn đọc cũng dài hơn, nhưng mình sẽ tóm lược lại những ý chính:
  br
  p.
    Bộ này gồm có các session (khoảng 7 session tổng cộng), mỗi session lại có các bài học, mỗi bài học có các phần chính sau (các bạn cũng nên học theo thứ tự này luôn):
  br
  p.
    – Audio: Bạn nên xem qua bài text, nghe Audio một vài lượt để xem từ, cách đọc …
  br
  p.
    – Vocabulary: Từ vựng, nghe lúc nào hiểu được từ thì thôi, đây là những từ xuất hiện trong bài học mà ông ấy nghĩ là bạn không biết, ông ấy sẽ giải thích bằng tiếng Anh, nếu nghe không hiểu thì có thể dùng từ điển tiếng Việt để tra, mình cũng lưu ý thêm là một số bạn nghĩ giỏi tiếng Anh thì không dùng từ điển tiếng Việt, cái này không đúng lắm, việc giỏi hay dốt nó không quan trọng, quan trọng là bạn có thực sự hiểu được toàn bộ sắc thái và xây dựng được cảm xúc với từ ấy hay không, các bạn có thể sử dụng bất cứ cách nào để hiểu toàn bộ sắc thái và cảm xúc của từ đó. Với mình thì mình hay đọc toàn bộ giải thích bằng từ điển tiếng Anh trước (Oxford), sau đó nếu cảm thấy mình vẫn không hiểu hết ý nghĩa của từ thì mình xem nghĩa tiếng Việt, mình thích đọc nghĩa tiếng Anh trước vì nhiều khi từ điển tiếng Việt dịch thiếu nghĩa của từ.
  br
  p.
    – Ministory: Quan trọng nhất, ông ấy sẽ dựa vào bài học để hỏi bạn hàng loạt câu hỏi, bạn phải nghe và trả lời thật nhanh, chú ý là, dù với câu hỏi bạn biết hay không biết, đều phải cố gắng trả lời (câu không biết thì đoán), cái này phải nghe mỗi ngày 2-3 lần.
  br
  p.
    – PoV (Point of View Ministory): Cái này tuỳ bài học có, cái này là ông ấy kể ở các thì khác nhau, bạn nên nghe r chú ý bắt chước theo một vài lần.
  br
  p.
    – Audio: Các bạn nghe lại một vài lần nữa xem đã hiểu hết nghĩa chưa và  bắt chước theo giọng đọc của ông ấy khi nghe.
  br
  p.
    Sau khi luyện được khoảng 6 tháng đến 1 năm thì tìm cách gặp người nước ngoài để luyện dần, không gì bằng gặp thực tế cả, cũng không gì có thể thay thế được việc gặp người nước ngoài và nói chuyện thật, nên gì thì gì cũng phải làm, nếu phát âm ok và phản xạ tạm tạm thì giao tiếp sẽ dễ dàng hơn rất nhiều.
  br
  p.
    Trên đây là cách xây dựng phản xạ, nếu bạn nào kiên trì thì sẽ đạt được cái này, không chỉ mình và nhiều người khác đã thành công với cách này, còn nếu bạn cảm thấy mình không tự học được thì nên tìm người dạy.
  br
  p.
    Chúc các bạn thành công.
