extends cach-hoc-layout

block inside
  h3 *** Nguyên tắc số 3: Luyện tập phản xạ mới là cái giúp cho bạn giao tiếp được
  hr
  br
  br
  br
  p.
    Ở post trước mình đã giải thích tại sao không nên tập trung vào ngữ pháp nếu mong muốn giao tiếp thành thạo, ở post này mình sẽ giải thích tại sao lại luyện phản xạ thay vì ngữ pháp:
  br
  p.
    Bạn thử nghĩ lại xem, khi bạn nói một câu tiếng Việt bất kỳ, bạn làm thế nào: Chẳng làm gì cả, cảm giác thấy nó hợp lý thì nói thôi, không tin à?
  br
  p. 
    Ví dụ này: “Ngày mai mình sẽ đi chơi”.
  br
  p.
    Với số lượng từ như trên, khả năng kết hợp là vô cùng: Tại sao bạn không nói là “Ngày mai sẽ mình đi chơi”, “Ngày mai mình sẽ chơi đi”, “Ngài mai mình chơi sẽ đi”…? Bạn có dựa vào ngữ pháp không? Câu trả lời là KHÔNG! Thế bạn dựa vào cái gì để nói được câu này? CẢM GIÁC! Bạn cảm giác câu này nói như thế, đấy là lý do tại sao nhiều khi bạn thấy người nước ngoài nhiều khi nói đúng ngữ pháp nhưng nghe cứ kỳ kỳ làm sao đó.
  br
  p.
    Vậy, cảm giác từ đâu mà có: Là do tiếp xúc thật nhiều, càng tiếp xúc nhiều với tiếng Anh giao tiếp thì phản xạ càng tốt (mình nhắc lại, tiếp xúc với tiếng Anh giao tiếp, không phải tiếng Anh trong textbook nhé), nếu ở môi trường sử dụng tiếng Anh là ngôn ngữ chính thức, thì việc tiếp xúc này rất tự nhiên hằng ngày, còn với ở Việt Nam, thì bạn buộc phải tự ép cho ra được cái “môi trường giả lập” để luyện phản xạ này.
  br
  p.
    Đặc điểm chung của việc luyện phản xạ này là nó sẽ khá gian khổ, nên cần phải thực sự kiên trì hằng ngày, k là dễ bỏ cuộc, nếu tự thấy mình không thể kiên trì, thì nên tìm một người dạy để giữ mình “theo được cuộc chơi”, không bị đứt gánh giữa đường. Bởi vì việc học giao tiếp tiếng Anh là cả một quá trình, thành công là khi bạn đi với người nước ngoài thoải mái, còn lại nếu dừng ở bất cứ bước nào: phát âm dở dang, phản xạ lúc dc lúc mất, từ vựng yếu … thì đều là thất bại (k giúp được gì nhiều cho công việc của bạn cả).
  br
  p.
    Post tiếp theo mình sẽ nói về việc học phát âm, cũng là một phần không thể thiếu nếu muốn giao tiếp được, bên cạnh phản xạ.
