extends cach-hoc-layout

block inside
  h3 *** Nguyên tắc số 2: Ngữ pháp không phải là con đường dẫn đến thành Rome.
  hr
  br
  br
  br
  p.
    Tiếp tục post trước, nếu không dịch từng từ thì làm sao biết thứ tự như thế nào để ghép vào bây giờ? Học ngữ pháp ư?
  br
  p.
    Biết ngữ pháp là tốt, k có kiến thức nào mà biết thêm lại là xấu cả. Nhưng việc nó có mang lại cho bạn cái bạn muốn hay không thì nó còn phụ thuộc rất nhiều vào việc: Bạn muốn gì?
  br
  p.
    Nếu bạn muốn giao tiếp thì câu trả lời của mình là: Không!
  br
  p.
    Sau đây là những lý do:
  br
  p.
    1. Muốn đúng ngữ pháp thì mỗi lần dùng 1 câu đều phải nghĩ, nhưng trong giao tiếp, phần lớn là sẽ k có thời gian để nghĩ, cái mà giao tiếp cần nhất là PHẢN XẠ, mà phản xạ với tốc độ nhanh thế thì cho dù có luyện ngữ pháp thành thạo đến thế nào cũng k thể đạt được tốc độ mà giao tiếp yêu cầu.
  br
  p.
    Ví dụ: Có người Việt nào nói chuyện mà nghĩ xem ngữ pháp thế nào trước khi nói k?
  br
  p.
    2. Khi giao tiếp, không yêu cầu lúc nào cũng phải đúng ngữ pháp (tất nhiên đúng thì tốt), nhưng nếu không đúng cũng k có ai từ chối nói chuyện với bạn đâu, cái người ta cần là, nói chuyện một cách TỰ NHIÊN.
  br
  p.
    Chà, đến đây thì khó rồi đây, không dịch theo từ để ghép vào, không bám vào ngữ pháp để ghép vào, thì làm thế nào mà biết thứ tự như thế nào mà nói bây giờ?
  br
  p.
    Câu trả lời là: LUYỆN TẬP PHẢN XẠ của bạn với tiếng Anh nghe nói chuẩn, để bạn có thể CẢM THẤY một câu tiếng Anh nên như thế nào, nghe có vẻ ảo nhưng đấy là việc mà chúng ta làm, và làm rất nhiều khi nói tiếng Việt đấy ạ.
  br
  p.
    Cách làm thế nào sẽ nằm ở post tiếp theo nha.
  br
