extends cach-hoc-layout

block inside
  h3 *** Nguyên tắc số 5: “Từ vựng, từ vựng, từ vựng”.
  hr
  br
  br
  br
  p.
    Học tiếng Anh có cần từ vựng không, chắc chắn là KHÔNG!
  br
  p.
    Mình đùa thôi, không có một thứ tiếng nào mà không cần từ vựng cả, để dùng được thứ tiếng ấy thì
    ít nhất là bạn phải có từ 1000-2000 từ vựng cơ bản, lượng từ vựng này sẽ giúp bạn tiến đến những mục tiêu
    xa hơn với ngôn ngữ đó.
  br
  p. 
    Vậy với giao tiếp thì sao, giao tiếp còn đòi hỏi khả năng từ vựng hơn bình thường. Tại sao?
  br
  p.
    Bởi vì một trong những điểm quan trọng nhất của giao tiếp là giới hạn thời gian, nghĩa là bạn sẽ luôn
    ở trong tình trạng, nghe xong người ta nói thì bạn chỉ có từ 5-10s để trả lời lại, chứ không có ai ngồi
    đó đợi bạn 1-2 phút để bạn nói được một câu cả.
  br
  p.
    Thế nên với giao tiếp thì không chỉ là phải biết từ, mà bạn còn cần có phản xạ nhanh về từ đấy, nghĩa 
    là thời gian bạn cần để nhớ ra từ và dùng nó chỉ từ 3-5s, thậm chí là ngay lập tức.
  br
  p.
    Để đạt được điều này thì không có cách nào khác là bạn phải tiếp xúc với từ ấy nhiều, để tăng mức độ 
    thân thuộc của mình với từ đó. Dần dần thì tốc độ nhớ ra từ đó của bạn sẽ được cải thiện dần dần.
  br
  p.
    Tất nhiên là nếu bạn cứ ngồi đó học chay thì rất chán, nên mình chỉ yêu cầu các bạn có lượng từ vựng 
    tối thiểu, sau đó khi tham gia học thì bạn sẽ được thực hành, đọc truyện, xem phim ... Nó sẽ giúp các
    bạn tăng từ vựng một cách tự nhiên hơn.
  br
  p.
    Nhưng việc luyện tập lượng từ vựng cơ bản là điều bạn phải làm, nếu không muốn tốn kém gấp 3-5 lần.
    Rồi học hết trung tâm này đến trung tâm khác mà chẳng thấy kết quả đâu cả.
  br
  p.
    Thế nên, học từ vựng thôi :D.
