extends cach-hoc-layout

block inside
  h3 *** Nguyên tắc đầu tiên nếu muốn giao tiếp tiếng Anh: “Hãy cố gắng truyền đạt ý của bạn, đừng cố truyền đạt những từ xuất hiện trong đầu bạn khi bạn có ý nào đó”
  hr
  br
  br
  br
  p.
    – Biết nhiều từ là tốt, nhưng trong giao tiếp chắc chắn bạn sẽ gặp những trường hợp mà có nhiều từ bạn không biết, lúc đó bạn làm gì? Tìm từ tiếng Anh tương ứng rồi cứ thế tương vào câu mặc cho người nghe có hiểu hay không, thế thì chắc chắn là bạn nên đọc tiếp rồi.
  br
  p.
    Hầu hết chúng ta khi cố gắng nói tiếng Anh, đều cố gắng truyền đạt từ, mà quên mất rằng để người nghe hiểu mình, dùng từ nào không quan trọng bằng việc mình diễn đạt ý của mình như thế nào, tại sao ư:
  br
  p. 
    1. Từ vựng tiếng Việt mà bạn có tính bằng đơn vị triệu, còn từ vựng tiếng Anh mà bạn có tính bằng đơn vị trăm, ngàn. Việc lúc nào cũng chăm chăm tìm một từ tiếng Anh tương ứng với một từ tiếng Việt để rồi nói ra là điều cực kỳ mệt mỏi và không thực sự khả thi. Hơn nữa nó cũng không quyết định chắc chắn việc bạn sẽ giao tiếp được hay không.
  br
  p.
    2. Nếu chỉ bám vào từ để dịch, có thể với một từ mình tìm dc vài 3 từ tương ứng, nhưng nếu bám vào ý, thì có rất nhiều cách để diễn đạt ý của bạn, bạn có thể tách câu mình định nói thành 2-3 câu để làm nó đơn giản hơn, và quan trọng nhất là, nếu bạn bám vào ý để diễn đạt, thì khả năng rất cao là người nghe sẽ hiểu bạn.
  br
  p.
    Ví dụ nhé:
  br
  p.
    Từ câu: “Nói một cách khái quát, chúng ta đang làm sai cách”.
  br
  p.
    Nếu là bạn, bạn làm thế nào: Bắt đầu tìm từ nói, rồi một cách, rồi khái quát (nguyên việc này thôi đã làm nhiều người nản muốn bỏ cuộc rồi)… xong ghép vào với nhau… ai cũng biết là sẽ chắng có ai hiểu bạn đang muốn nói gì đâu.
  br
  p.
    Thay vào đó, nếu tập trung vào ý, bạn hoàn toàn có thể nói là:
  br
  p.
    “I think we’re doing it wrong”
  br
  p.
    Câu này chắc ai cũng hiểu, toàn từ đơn giản, nhưng không mấy ai nghĩ là có thể dùng như thế, vì chúng ta tập trung vào từ quá nhiều mà quên mất là mục tiêu chính là để người ta hiểu cái mình đang nghĩ trong đầu và muốn nói với họ.
  br
  p.
    Nhưng, câu hỏi tiếp theo phát sinh là: Nếu k dịch từng từ, làm sao mình biết thứ tự như thế nào để mà ghép vào bây giờ, học ngữ pháp ư? No No No. Câu trả lời sẽ nằm ở post tiếp theo của mình, bạn nào muốn giao tiếp tiếng Anh thì chú ý theo dõi nha.
  br
  p.
    Tóm lại, nguyên tắc đầu tiên bạn phải nhớ là:
  br
  p.
    “Hãy tập trung cố gắng bám vào ý, để diễn đạt sao cho dễ hiểu, để người ta hiểu đúng ý của mình, chứ đừng cố gắng dịch từng từ rồi ghép vào với nhau.”
