extends layout

block content
  .ui.grid
    .one.wide.column
    .fourteen.wide.column
      .ui.raised.segment
        .ui.grid
          .two.wide.column
          .twelve.wide.column
            br
            br 
            h3 HIMYM
            p 
              | Link tải trong trường hợp không xem được Video 
              a(href="https://drive.google.com/file/d/0B-0KwEEXjKuKeXk0RlozekJqY0U/view?usp=sharing") Tải tại đây
            hr
            br
            br
            .ui.green.basic.label Hướng dẫn xem phim:
            br
            br
            p
              | Để học tiếng anh qua phim một cách hiệu quả, các bạn làm theo thứ tự sau:
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | 1. Mở file subtitle ra trước, tra hết các từ mà các bạn đọc không hiểu.
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | Hướng dẫn mở sub để tra từ trên Windows 
              a(href="https://www.youtube.com/watch?v=cNPoKJ_OjAE") tại đây
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | 2. Các bạn xem phim không có sub, để luyện khả năng nghe của mình, đoạn nào không nghe được 
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | thì mở lại sub ra xem lại. Sau khi được thầy giáo hỗ trợ với những đoạn không hiểu thì các bạn cần
              br
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | xem đi xem lại nhiều lần để luyện khả năng nghe của mình.
            br
            .ui.embed(data-url="https://drive.google.com/embeddedfolderview?id=0B-0KwEEXjKuKZlRlT2pvVkVuQU0")
            br
            br 
